<form id="filters-form" method=post>
  <div id="filters-container">
    <!-- FILTERS PANEL -->
    <div id="filter-panel">
      <input type="hidden" id="filters-form-uhid" name="uhid">
      <input type="hidden" id="filters-form-lang" name="lang" value="{{ session['lang'] }}">
      <input type="hidden" id="filters-form-url" name="url" value="">
      <div id="filter-panel-row" class="row">
        <div id="current-visualization-info" class="col s2 m3 l3 show-hide-cv" onclick="$('#current-visualization-details').toggle('slow');">
          <div class="col s3 m3 l3">
            <center><label class="show-hide-cv">{{ gettext("Working<br>Process")}}</label></center>
            <center id="user-history-id-container" class="deep-purple show-hide-cv">
              <span id="user-history-id" class="show-hide-cv"></span>
            </center>           
          </div>
          <div class="col s9 m9 l9 show-hide-cv">
            <span class='scope-tabulation-fe show-hide-cv'></span>
            <span class="caret show-hide-cv">▼</span>
          </div>
        </div>
        <div id="fp-ss" class="col s2 m2 l2">
          <div class="input-field">
            <select id="scope-select" name="scope"></select>
            <label>{{ gettext("Scope") }}</label>
          </div>
        </div>
        <div id="fp-sts" class="col s3 m3 l3">
          <div class="input-field">
            <select id="scope-tabulations-select" name="tabulation"></select>
            <label>{{ gettext("Tabulation") }}</label>
          </div>
        </div>
        <div id="fp-stvs" class="col s2 m2 l2">
          <div class="input-field">
            <select id="scope-tabulation-visualizations-select" name="visualization"></select>
            <label id="vis-label" class="parpadea">{{ gettext("Visualization") }}</label>
          </div>
        </div>
        <div id="fp-btns" class="col s2 m2 l2">
          <div class="right">
            <br>
            <center>
              <button id="visulize-btn" type="submit" class="btn btn-pp deep-purple waves-effect waves-light disabled" disabled="disabled" onclick="save_to_history('#filters-form');">{{ gettext("Visualize") }}</button>
              <a id="new-visulize-btn" href='#new-btn-modal' class="btn btn-pp modal-trigger deep-purple waves-effect waves-light">{{ gettext("New") }}</a>
            </center>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div> 
</form>