<div style="display: inline; margin: 0px 40px;">
	<a class="share-class" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" title="Share on Facebook">
		<i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 1.3em"></i>
	</a>
	<a class="share-class" href="https://plus.google.com/share?url={{ url }}" title="Share on Google+">
		<i class="fa fa-google-plus-square" aria-hidden="true" style="font-size: 1.3em"></i>
	</a>
	<a class="share-class" href="https://twitter.com/share?url={{ url }}&hashtags=[SciELO]" title="Share on Twitter">
		<i class="fa fa-twitter-square" aria-hidden="true" style="font-size: 1.3em"></i>
	</a>
	<a class="share-class" href="http://reddit.com/submit?url={{ url }}" title="Share on Reddit">
		<i class="fa fa-reddit-square" aria-hidden="true" style="font-size: 1.3em"></i>
	</a>
	<a class="share-class" href="http://www.linkedin.com/shareArticle?url={{ url }}" title="Share on LinkedIn">
		<i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 1.3em"></i>
	</a>
	<a class="share-class" href="https://pinterest.com/pin/create/bookmarklet/?url={{ url }}" title="Share on Printerest">
		<i class="fa fa-pinterest-square" aria-hidden="true" style="font-size: 1.3em"></i>
	</a>
	<a class="share-class" href="http://www.tumblr.com/share/link?url={{ url }}" title="Share on Tumblr">
		<i class="fa fa-tumblr-square" aria-hidden="true" style="font-size: 1.3em"></i>
	</a>
	<a href="mailto:?subject=SciELO Visualization&amp;body=Check out this {{url}}."
	   title="Share by Email">
		<i class="fa fa-envelope" aria-hidden="true" style="font-size: 1.3em"></i>
	</a>	
</div>

{% if filters.scope == "1" %}
<div style="display: inline;">
	<a id="animate-btn" title="Animate Visualization">
	  <i class="fa fa-play-circle" aria-hidden="true" onclick="change_visualization('{{ filters.visualization }}', true);" style="font-size: 1.3em"></i>
	</a>
</div>
{% endif %}

<script type="text/javascript">
	$(document).ready(function() {
	    $('.share-class').click(function(e) {
	        e.preventDefault();
	        window.open($(this).attr('href'), 'ShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
	        return false;
	    });
	});
</script>