{% extends "v1/layouts/layout.html" %}


{% block filters %}
  {% include "v1/partials/filters.html" %}
{% endblock %}


{% block advanced_filters %}
  {% include "v1/partials/document-filters.html" %}
{% endblock %}


{% block visualization_block %}
  <div class="col s12 m12 l12" style="margin-bottom: 10px;">
    <div id="options-panel" class="left">
      {% include "v1/partials/scope-1-export-options.html" %}
      {% include "v1/partials/social_networks.html" %}        
    </div>

    <div class="right">
      <span class="total-docs right">
        <b>{{ total_docs }} {{ gettext("Documents") }}</b>
      </span>
      <br>
      <a id="info-trigger" class="right">
        <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 1.3em"></i>
      </a>
    </div>    
  </div>

  <div class="col s12 m12 l12">
    <div id="visualization-area">   
      <!-- TREEMAPs -->
      <div id="treemap-container" style="display: none;">
        <div id="treemap-info" class="card-panel deep-purple lighten-5 info-container">
          {{ gettext("Treemap distributes <b class='scope-tabulation'></b>. Mouse over on a treemap box for additional information. Click on a treemap box to filter the data.") }}
        </div>
        <div id="treemap-by" class="treemap"></div>
      </div>

      <!-- LINECHART -->
      <div id="linechart-container" style="display: none;">
        <div id="linechart-info" class="card-panel deep-purple lighten-5 info-container">
          {{ gettext("Linechart represents <b class='scope-tabulation'></b> in each year. Click on a line to filter the data.") }}
        </div>
        <div id="linechart-by" class="d3plus-container"></div>
      </div>

      <!-- MULTIPLE SELECT -->
      <div id="multiple-select-area" style="display: none">
        <div id="clicked" class="col s12 m12 l12">
        </div>        
        <div class="col s12 m12 l12">
          <a id="sd-clicked-btn" class="waves-effect waves-light btn deep-purple">{{ gettext("Show Data")}}</a>
          <a id="f-clicked-btn" class="waves-effect waves-light btn deep-purple">{{ gettext("Filter Selected") }}</a>
        </div>          
      </div>
    </div>


    <!-- TABLEs -->
    <div id="table-container" style="display: none;">
      <table id="visualization-table" class="table">
        <thead>
          <tr>
            <th rowspan="2">{{ gettext("Collection") }}</th>
            <th rowspan="2">{{ gettext("Year") }}</th>
            <th rowspan="2">{{ gettext("#Documents") }}</th>
            <th colspan="5"  style="border-left: solid 1px black;">{{ gettext("Documents by Language") }}</th>
            <th colspan="10" style="border-left: solid 1px black;">{{ gettext("Documents by Thematic Area") }}</th>
            <th colspan="11" style="border-left: solid 1px black;">{{ gettext("Citable Documents Type") }}</th>
          </tr>
          <tr>
            <th style="border-left: solid 1px black;">{{ gettext("English") }}</th>
            <th>{{ gettext("Spanish") }}</th>
            <th>{{ gettext("Portuguese") }}</th>
            <th>{{ gettext("Other") }}</th>
            <th>{{ gettext("Total") }}</th>
            <th style="border-left: solid 1px black;">{{ gettext("Health Sciences") }}</th>
            <th>{{ gettext("Human Sciences") }}</th>
            <th>{{ gettext("Biological Sciences") }}</th>
            <th>{{ gettext("Agricultural Sciences") }}</th>
            <th>{{ gettext("Applied Social Sciences") }}</th>
            <th>{{ gettext("Exact and Earth Sciences") }}</th>
            <th>{{ gettext("Engineering") }}</th>
            <th>{{ gettext("Linguistics, Letters and Arts") }}</th>
            <th>{{ gettext("Undefined") }}</th>
            <th>{{ gettext("Total") }}</th>
            <th style="border-left: solid 1px black;">{{ gettext("Research Article") }}</th>
            <th>{{ gettext("Editorial") }}</th>
            <th>{{ gettext("Book Review") }}</th>
            <th>{{ gettext("Case Report") }}</th>
            <th>{{ gettext("Review Article") }}</th>
            <th>{{ gettext("Rapid Communication") }}</th>
            <th>{{ gettext("Letter") }}</th>
            <th>{{ gettext("Brief Report") }}</th>
            <th>{{ gettext("Article Commentary") }}</th>
            <th>{{ gettext("Abstract") }}</th>
            <th>{{ gettext("Total") }}</th>
          </tr>
        </thead>
         <tbody>
          {% for i in data_table["by_year"] %}
            {% for k, v in data_table["by_year"][i].items() %}
              <tr>
                <td>{{ i }}</td>
                <td>{{ k }}</td>
                <td>{{ v['documents'] }}</td>

                <td style="border-left: solid 1px black;">{{ v['by_language']['en'] }}</td>
                <td>{{ v['by_language']['es'] }}</td>
                <td>{{ v['by_language']['pt'] }}</td>
                <td>{{ v['by_language']['other'] }}</td>
                <td>{{ v['by_language']['total'] }}</td>

                <td style="border-left: solid 1px black;">{{ v['by_thematic_area']["Health Sciences"] }}</td>
                <td>{{ v['by_thematic_area']["Human Sciences"] }}</td>
                <td>{{ v['by_thematic_area']["Biological Sciences"] }}</td>
                <td>{{ v['by_thematic_area']["Agricultural Sciences"] }}</td>
                <td>{{ v['by_thematic_area']["Applied Social Sciences"] }}</td>
                <td>{{ v['by_thematic_area']["Exact and Earth Sciences"] }}</td>
                <td>{{ v['by_thematic_area']["Engineering"] }}</td>
                <td>{{ v['by_thematic_area']["Linguistics, Letters and Arts"] }}</td>
                <td>{{ v['by_thematic_area']["undefined"] }}</td>
                <td>{{ v['by_thematic_area']["total"] }}</td>

                <td style="border-left: solid 1px black;">{{ v['by_citable_doc']["research-article"] }}</td>
                <td>{{ v['by_citable_doc']["editorial"] }}</td>
                <td>{{ v['by_citable_doc']["book-review"] }}</td>
                <td>{{ v['by_citable_doc']["case-report"] }}</td>
                <td>{{ v['by_citable_doc']["review-article"] }}</td>
                <td>{{ v['by_citable_doc']["rapid-communication"] }}</td>
                <td>{{ v['by_citable_doc']["letter"] }}</td>
                <td>{{ v['by_citable_doc']["brief-report"] }}</td>
                <td>{{ v['by_citable_doc']["article-commentary"] }}</td>
                <td>{{ v['by_citable_doc']["abstract"] }}</td>
                <td>{{ v['by_citable_doc']["total"] }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}


{% block js_footer %}
  {% include "v1/partials/scope-tab-vis.js" %}
  {% include "v1/partials/filters-3.js" %}
  <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.d3plus_autoplay.js') }}"></script>
  <script type="text/javascript">
     initalize_filters();
    //Renderizamos jsons
    data_treemap = {{ data_treemap|tojson }};
    data_map = {{ data_map|tojson }};
    visualization = "{{ filters.visualization|safe }}";
    
    var generated_treemap = false;
    var generated_linechart = false;

    //Rellenar scope y tabulacion
    //LANG desde filters-3.js
    $('.scope-tabulation').html("["+stFilters["{{filters.scope}}"]["text"][LANG]+" "+stFilters["{{filters.scope}}"]["tabulations"]["{{filters.tabulation}}"]["text"][LANG]+"]");

    change_visualization(visualization);


    function treemap(timeline){
      $("#treemap-by").html("");
      d3plus_treemap = d3plus.viz()
                              .container("#treemap-by")
                              .data(data_treemap["by_year"])
                              .type("tree_map")
                              .id(["group"])
                              .size("documents")
                              .labels({"align": "left", "valign": "top"})
                              .format(D3PLUS_LANG)
                              .mouse({
                                'click': function(data){
                                  select_from_visualization2("journal", data['group']);

                                }
                              });
      if(timeline){
        d3plus_treemap.time({'value': 'sub-group', 'solo': [{{ filters.from_year|safe }}, {{ filters.from_year|safe }}] });
      }
      d3plus_treemap.draw();
      setTimeout(function(){$(".d3plus_timeline_play").d3Click()}, 2000);
    }
    function linechart(timeline){
      $("#linechart-by").html("");
      d3plus_linechart = d3plus.viz()
                               .container("#linechart-by")
                               .data(data_treemap["by_year"])
                               .type("line")
                               .id("group")
                               .text("group")
                               .y("documents")
                               .x("sub-group")
                               .y({"grid": false})
                               .x({"grid": false, "label": "Years"})
                               .format(D3PLUS_LANG)
                               .mouse({
                                 'click': function(data){
                                  select_from_visualization2("journal", data['d3plus_data']['group']);
                                }
                               })
                               .axes({"background": {"color": "#FFF"}});
      //d3plus_linechart.time({'value': 'sub-group', 'solo': [{{ filters.from_year|safe }}, {{ filters.from_year|safe }} + {{ filters.timeline_range }} -1],  })
      d3plus_linechart.draw();
      setTimeout(function(){$(".d3plus_timeline_play").d3Click()}, 2000);
    }
    function change_visualization(option, timeline){
      flag = 0
      $("#treemap-container").hide();
      $("#linechart-container").hide();
      $("#table-container").hide();
      $("#timeline-info").hide();
      $("#timeline-btn-1").hide();
      $("#timeline-btn-2").hide();
      $("#animate-btn").hide();
      $("#info-trigger").hide();
      $("#info-trigger").mouseover('');
      $("#info-trigger").mouseout('');

      /*Treemaps
      ----------------------------------------------------------*/
      if(option == "treemap"){
        $("#treemap-container").show();
        $("#animate-btn").show();
        $("#info-trigger").mouseover( function(){$('#treemap-info').show()})
                          .mouseout(function(){$('#treemap-info').hide()})
                          .show();
        //if(!generated_treemap){
          treemap(timeline);
          d3_autoplay();
          generated_treemap = true;
        //}
      }

      /*Lineachart
      ----------------------------------------------------------*/
      if(option == "linechart"){
        $("#linechart-container").show();
        $("#info-trigger").mouseover( function(){$('#linechart-info').show()})
                          .mouseout(function(){$('#linechart-info').hide()})
                          .show();
        if(!generated_linechart){
          linechart(timeline);
          d3_autoplay();
          generated_treemap = true;
        }
      }

      /*Table
      ----------------------------------------------------------*/
      if(option == "table"){
        $("#table-container").show();
      }

    }

    //DataTables
    $('#visualization-table').DataTable({
      //scrollY:        "400px",
      scrollX:        true,
      scrollCollapse: true,
      //paging:         false,
      fixedColumns:   {
          leftColumns: 3
      }
    });
    //Modal
    $('.modal-trigger').leanModal();
    //Dropdown
    $('.dropdown-button').dropdown();
  </script>
{% endblock %}