{% extends "v1/layouts/layout.html" %}


{% block filters %}
  {% include "v1/partials/filters.html" %}
{% endblock %}


{% block advanced_filters %}
  {% include "v1/partials/document-filters.html" %}
{% endblock %}


{% block visualization_block %}
  <div class="col s12 m12 l12" style="margin-bottom: 10px;">
    <div id="options-panel" class="left">
      {% include "v1/partials/scope-2-export-options.html" %}
      {% include "v1/partials/social_networks.html" %}        
    </div>

    <div class="right">
      <span class="total-journals right">
        <b>{{ total_journals }} {{ gettext("Journals") }}</b>
      </span>
      <span class="total-docs right">
        <b>{{ total_docs }} {{ gettext("Documents") }}</b>
      </span>
      <br>
      <a id="info-trigger" class="right">
        <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 1.3em"></i>
      </a>
    </div>    
  </div>

  <div class="col s12 m12 l12">
    <div id="visualization-area">
      <!-- MAP -->
      <div id="map-container" style="display: none;">        
        <div id="map-info" class="card-panel deep-purple lighten-5 info-container">
          {{ gettext("Country color represents <b class='scope-tabulation'></b>. Mouse over a country additional information is shown. Mouse over a country display number of documents.") }}
        </div>
        <div id="world-map" class="d3plus-container"></div>
      </div>

      
      <!-- TREEMAPs -->
      <div id="treemap-container" style="display: none;">
        <div id="treemap-info" class="card-panel deep-purple lighten-5 info-container">
          {{ gettext("Treemap distributes <b class='scope-tabulation'></b>. Click on a treemap box to filter the data of the country per year of publication.") }}
        </div>
        <div id="treemap-by" class="treemap"></div>
      </div>

      <!-- LINECHART -->
      <div id="linechart-container" style="display: none;">
        <div id="linechart-info" class="card-panel deep-purple lighten-5 info-container">
          {{ gettext("Linechart represents <b class='scope-tabulation'></b> in each year. Click on a line to filter the data.") }}
        </div>
        <div id="linechart-by" class="d3plus-container"></div>
      </div>

      <!-- MULTIPLE SELECT -->
      <div id="multiple-select-area" style="display: none">
        <div id="clicked" class="col s12 m12 l12">
        </div>        
        <div class="col s12 m12 l12">
          <a id="sd-clicked-btn" class="waves-effect waves-light btn deep-purple">{{ gettext("Show Data")}}</a>
          <a id="f-clicked-btn" class="waves-effect waves-light btn deep-purple">{{ gettext("Filter Selected") }}</a>
        </div>          
      </div>
    </div>

    <!-- TABLEs -->
    <div id="table-container" style="display: none;">
      <table id="visualization-table" class="table">
        <thead>
          <th>{{ gettext("Collection") }}</th>
          <th>{{ gettext("Year") }}</th>
          <th>{{ gettext("#Documents") }}</th>
          <th>{{ gettext("#Journals") }}</th>
        </thead>
         <tbody>
          {% for i in data_table["by_year"] %}
            {% for k, v in data_table["by_year"][i].items() %}
              <tr>
                <td>{{ i }}</td>
                <td>{{ k }}</td>
                <td>{{ v['documents'] }}</td>
                <td>{{ v['journals'] }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}


{% block js_footer %}
  {% include "v1/partials/scope-tab-vis.js" %}
  {% include "v1/partials/filters-3.js" %}
  <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.d3plus_autoplay.js') }}"></script>
  <script type="text/javascript">
     initalize_filters();
    //Renderizamos jsons
    data_treemap = {{ data_treemap|tojson }};
    data_linechart = {{ data_linechart|tojson }};
    data_table = {{ data_table|tojson }};
    data_map = {{ data_map|tojson }};
    visualization = "{{ filters.visualization|safe }}";

    var generated_map = false;
    var generated_treemap = false;
    var generated_linechart = false;

    //Rellenar scope y tabulacion
    //LANG desde filters-3.js
    $('.scope-tabulation').html("["+stFilters["{{filters.scope}}"]["text"][LANG]+" "+stFilters["{{filters.scope}}"]["tabulations"]["{{filters.tabulation}}"]["text"][LANG]+"]");

    change_visualization(visualization);


    function map(timeline){
      $("#world-map").html("");
      d3plus_map = d3plus.viz()
                         .container("#world-map")
                         .data(data_map)
                         .coords({"projection": "equirectangular", "value": "/static/js/d3plus/countries.json", "mute":["anata"]})
                         .type("geo_map")
                         .id("group-country-code")
                         .text("group-country-name")
                         .color("journals")
                         .zoom({'click': false})
                         .format(D3PLUS_LANG)
                         .mouse({
                          'click': function(country){
                            if ('d3plus_label' in country){
                              select_from_visualization2("collection", country['d3plus_label']['names'][0]);
                            }
                          }
                         });
      d3plus_map.draw();
    }
    function treemap(timeline){
      $("#treemap-by").html("");
      d3plus_treemap = d3plus.viz()
                              .container("#treemap-by")
                              .data(data_treemap)
                              .type("tree_map")
                              .id(["group"])
                              .size("journals")
                              .tooltip({"share": false})
                              //.labels({"align": "left", "valign": "top"})
                              .format(D3PLUS_LANG)
                              .mouse({
                                'click': function(data){
                                  select_from_visualization2("thematic-area", data['group']);
                                }
                              });
      d3plus_treemap.draw();
    }
    function linechart(timeline){
      $("#linechart-by").html("");
      d3plus_linechart = d3plus.viz()
                               .container("#linechart-by")    // container DIV to hold the visualization
                               .data(data_linechart["by_year"])         // data to use with the visualization
                               .type("line")           // visualization type
                               .id("group")             // key for which our data is unique on
                               .text("group")         // key to use for display text
                               .y("journals")                 // key to use for y-axis
                               .x("sub-group")                 // key to use for x-axis
                               .y({"grid": false})
                               .x({"grid": false, "label": "Years"})
                               .format(D3PLUS_LANG)
                               .mouse({
                                 'click': function(data){
                                    select_from_visualization2("thematic-area", data['d3plus_data']['group']);
                                  }
                               })
                               .axes({"background": {"color": "#FFF"}});
      //d3plus_linechart.time({'value': 'sub-group', 'solo': [{{ filters.from_year|safe }}, {{ filters.from_year|safe }} + {{ filters.timeline_range }} -1] })
      d3plus_linechart.draw();
    }
    function change_visualization(option, timeline){
      flag = 0
      $("#map-container").hide();
      $("#treemap-container").hide();
      $("#linechart-container").hide();
      $("#table-container").hide();
      $("#timeline-info").hide();
      $("#timeline-btn-1").hide();
      $("#timeline-btn-2").hide();
      $("#animate-btn").hide();
      $("#info-trigger").hide();
      $("#info-trigger").mouseover('');
      $("#info-trigger").mouseout('');

      /*Map
      ----------------------------------------------------------*/
      if(option == "map"){
        $("#map-container").show();
        $("#animate-btn").show();
        $("#info-trigger").mouseover( function(){$('#map-info').show()})
                          .mouseout(function(){$('#map-info').hide()})
                          .show();
                          
        //if(!generated_map){
          map(timeline);
          d3_autoplay();
          generated_map = true;
        //}
      }

      /*Treemaps
      ----------------------------------------------------------*/
      if(option == "treemap"){
        $("#treemap-container").show();
        $("#animate-btn").show();
        $("#info-trigger").mouseover( function(){$('#treemap-info').show()})
                          .mouseout(function(){$('#treemap-info').hide()})
                          .show();
        //if(!generated_treemap){
          treemap(timeline);
          d3_autoplay();
          generated_treemap = true;
        //}
      }

      /*Lineachart
      ----------------------------------------------------------*/
      if(option == "linechart"){
        $("#linechart-container").show();
        $("#info-trigger").mouseover( function(){$('#linechart-info').show()})
                          .mouseout(function(){$('#linechart-info').hide()})
                          .show();
        if(!generated_linechart){
          linechart(timeline);
          d3_autoplay();
          generated_linechart = true;
        }
      }

      /*Table
      ----------------------------------------------------------*/
      if(option == "table"){
        $("#table-container").show();
      }
    }

    //DataTables
    $('#visualization-table').DataTable();
    //Modal
    $('.modal-trigger').leanModal();
    //Dropdown
    $('.dropdown-button').dropdown();
  </script>
{% endblock %}